{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h2>{{ title }}</h2>
    <h3>{{ message }}</h3>

    <address>
        <strong>Steven</strong>    <a href="mailto:sl74byra@studserv.uni-leipzig.de">sl74byra@studserv.uni-leipzig.de</a><br />
        <strong>Fabian</strong>    <a href="mailto:fz31dovo@studserv.uni-leipzig.de">fz31dovo@studserv.uni-leipzig.de</a><br />
        <strong>Christian</strong> <a href="mailto:cs85xyqa@studserv.uni-leipzig.de">cs85xyqa@studserv.uni-leipzig.de</a>
    </address>
</div>

{% endblock %}
