{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-2">
        <h5>Tutorial</h5>
        <ul>
            <li>control data using the buildbox on the left, it appears once you click add Card the first time</li>
            <li>Cards there are drag & droppable, meanining you can rearrange the order</li>
            <li>always hit "save and render" for your changes to take effect</li>
            <li>jump through your different data sets using the "prev" and "next" buttons on the map</li>
            <li>using "show immediate", you can directly jump to the desired dataset</li>
            <li>triggering the voters mode in the bottom left lets you see an election turnout map. opacity is based on the voters turnout.</li>
            <li>in regular election mode, your map will display in the colors of the fraction with the most relative votes on each election district. opacity is based on the votes (absolute majority gets opacity 1, then calculated downwards)</li>
        </ul>
    </div>
    <div class="col-8">
        <div id="map_germany"></div>
    </div>
    <div class="col-2">
         <div id="buildbox">
            <div class="row" id="sortable"></div>
         </div>
        <div class="btn btn-primary" id="btn_add_card" onclick="addCard();">Add Card</div>
        <div class="btn btn-primary" id="btn_save" onclick="saveAndRender();" style="display: none">Save and Render</div>
    </div>
</div>


<script id="addCard" type="text/html">
    {% raw %}  <!-- need to tell jinja to leave this untouched because the {{  }} in this section should be filled by mustache.js -->
    <div id="card_{{num}}" class="card mw-100 border-primary">
        <div class="card-body">
            <label for="election_select">Select Election Type:</label>
            <select class="custom-select" id="election_select_{{num}}" onchange="changeDrowdown(this)">
                <option selected value="btw">Bundestagswahl</option>
                <option value="ew">Europawahl</option>
                <option value="ltw">Landtagswahl</option>
            </select>
            <button id="close_{{num}}" class="btn btn-light close" onclick="deleteCard(this)">&times;</button>
            <br/>
            <label for="year_select">Select Year</label>
            <select class="custom-select" id="year_select_{{num}}">
                <option election_type="btw" value="1998">1998</option>
                <option election_type="btw" value="2002">2002</option>
                <option election_type="btw" value="2005">2005</option>
                <option election_type="btw" value="2009">2009</option>
                <option election_type="btw" value="2013">2013</option>
                <option election_type="btw" value="2017">2017</option>
                <option election_type="ew" value="2004">2004</option>
                <option election_type="ew" value="2009">2009</option>
                <option election_type="ew" value="2014">2014</option>
                <option election_type="ew" value="2019">2019</option>
                <option election_type="ltw" value="2010">2010</option>
                <option election_type="ltw" value="2014">2014</option>
            </select>
            <br />
            <div onclick="renderImmediate($('#election_select_{{num}}').val(), $('#year_select_{{num}}').val())" class="btn btn-primary float-right">Show Immediate</div>  <!-- TODO renderImmediate function-->
        </div>
    </div>
    {% endraw %}
</script>


<script type="text/javascript">
let wahlkreise = {{ wahlkreise|tojson }};
</script>

{% endblock %}
