<link rel="stylesheet" type="text/css" href="/static/content/style.css" />
{% extends "layout.html" %}

{% block content %}

<div id="map_germany"></div>

<script type="text/javascript">
$(document).ready(function(){

    //set up the map
    let mapGermany = L.map("map_germany").setView([50.9, 10.3], 7);
    let geoJson;
    let info = L.control();

    //tile layer
    L.tileLayer("https://b.tile.openstreetmap.org/{z}/{x}/{y}.png", {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',

    }).addTo(mapGermany);

    //geojson passed from the server
    let wahlkreise = {{ wahlkreise|tojson }};

    // custom style of each feature (i.e. each wahlkreis)
    function style(feature) {

        let votes_map = new Map([
            ["cdu", feature.properties.union],
            ["spd", feature.properties.spd],
            ["gruene", feature.properties.gruene],
            ["afd", feature.properties.afd],
            ["linke", feature.properties.linke],
            ["fdp", feature.properties.fdp],
            ["misc", feature.properties.misc],
        ]);
        let winning_party = [...votes_map.entries()].reduce((a, e) => parseInt(e[1]) > parseInt(a[1]) ? e : a);
        let color_map = new Map([
            ["cdu", "#000000"],
            ["spd", "#E3000F"],
            ["gruene", "#46962B"],
            ["afd", "#009EE0"],
            ["linke", "#BE3075"],
            ["fdp", "#FFFF00"],
            ["misc", "#808080"],
        ]);

        //calculate percentages
        let numOr0 = n => isNaN(n) ? 0 : n
        let votes = [...votes_map.values()].map(val => parseInt(val));
        let sum = votes.reduce((a,b) => numOr0(a) + numOr0(b), 0); //calculate total amount of votes, use 0 in calculation if summand is not a number
        let percentages = votes.map(val => parseFloat((val / sum * 100).toFixed(2))); //calculate percentage and trim to 2 decimal places
        let percentages_map = new Map([
            ["cdu", percentages[0]],
            ["spd", percentages[1]],
            ["gruene", percentages[2]],
            ["afd", percentages[3]],
            ["linke", percentages[4]],
            ["fdp", percentages[5]],
            ["misc", percentages[6]],
        ]);

        //calculate opacity based on majority
        function dynamicOpacity(percentage){
            if(percentage >= 50){
                return 1; //absolute majority --> full opacity
            }
            else{
                return percentage * 2 / 100; // less than absolute --> maps 50% too 100% opacity and then lowers according to value
            }
        }

        return {
            fillColor: color_map.get(winning_party[0]),
            weight: 1,
            opacity: 1,
            color: 'grey',
            dashArray: '3',
            fillOpacity: dynamicOpacity(percentages_map.get(winning_party[0]))
        }
    }

    //style change on mouseover
    function hightlightOnMouseOver(e){
        let layer = e.target;
        layer.setStyle({
            weight: 5,
            color: 'white',
            dashArray: '',
        });

        layer.bringToFront();

        info.update(layer.feature.properties);
    }

    //style reset on mouseout
    function resetHighlight(e){
        geoJson.resetStyle(e.target);
        info.update(null);
    }

    //on click jump to the state
    function zoomToState(e) {
        mapGermany.fitBounds(e.target.getBounds());
    }

    //assign listeners
    function onEachFeature(feature, layer){
        layer.on({
            mouseover: hightlightOnMouseOver,
            mouseout: resetHighlight,
            click: zoomToState
        });
    }

    geoJson = L.geoJSON(wahlkreise, {
        style: style,
        onEachFeature: onEachFeature
    }).addTo(mapGermany);


    info.onAdd = function (map) {
        this._div = L.DomUtil.create('div', 'info');
        this.update();
        return this._div;
    };

    // update info window with the data of the hovered state
    info.update = function (properties) {
        let percentages = [];
        if(properties) {
            let votes = [properties.union, properties.spd, properties.gruene, properties.afd, properties.linke, properties.fdp, properties.misc].map(val => parseInt(val)); //parse strings to int
            let numOr0 = n => isNaN(n) ? 0 : n
            let sum = votes.reduce((a,b) => numOr0(a) + numOr0(b), 0); //calculate total amount of votes, use 0 in calculation if summand is not a number
            percentages = votes.map(val => (val / sum * 100).toFixed(2)); //calculate percentage and trim to 2 decimal places
        }
        this._div.innerHTML = '<h4>Wahlergebnisse</h4>' +  (properties ?
            '<b>' + properties.WKR_NAME + ', ' + properties.LAND_NAME + '</b>' +
            '<br /> CDU/CSU : ' +  percentages[0] + '%' +
            '<br /> SPD : '  + percentages[1] + '%' +
            '<br /> Grüne : '  + percentages[2] + '%' +
            '<br /> AFD : '  + percentages[3] + '%' +
            '<br /> LINKE : '  + percentages[4] + '%' +
            '<br /> FDP : '  + percentages[5] + '%' +
            '<br /> Sonstige : '  + percentages[6] + '%'
            : 'Hover over a state');
    };

    info.addTo(mapGermany);

    var electionTypeSelector = L.control({position: 'bottomleft'});
    electionTypeSelector.onAdd = function (map) {
        var div = L.DomUtil.create('div', 'election selector');
        div.innerHTML = '<select><option selected>Bundestagswahlen</option><option>Europawahlen</option><option>Landtagswahlen</option><option>Kommunalwahlen</option></select>';
        div.firstChild.onmousedown = div.firstChild.ondblclick = L.DomEvent.stopPropagation;
        return div;
    };
    electionTypeSelector.addTo(mapGermany);


});

</script>

{% endblock %}
